@{
    ViewBag.Title = "Art Title";
}

<h3><strong>@ViewData["Art Title"]</strong></h3>
<br />

<p class="alert-info">@ViewData["Art Message"]</p>



@*
<div class="row">
    <div class="col-sm-12">
        <div id="#kiddyArtBugedEyed">
        </div>

        <figure class="col-sm-4" id="kiddyArtBugedEyed">
            <a href="~/images/Art/Kiddy_Art/Bug_Eyed_Programmer.png">
            <img class="figure-img" alt="KiddyArt" src="~/images/Art/Kiddy_Art/Bug_Eyed_Programmer.png" />
            </a>
        </figure>
    </div>
</div>

    *@
