@{ 
    ViewBag.Title = "Change Log Title";
}

<h2><strong>@ViewData["Change Log Title"]</strong></h2>
<br />

<p>@ViewData["Change Log Message"]</p><br />
<p>@ViewData["Change Log Instructions"]</p><br />

<div class="container-fluid">
    <partial name="\PageContent\ChangeLog\_cl09172019-16" /><br />
    <partial name="\PageContent\ChangeLog\_cl07172019-15" /><br />
    <partial name="\PageContent\ChangeLog\_cl07142019" /><br />
    <partial name="\PageContent\ChangeLog\_cl07082019" /><br />
</div>

