@{ 
    ViewBag.Title = "Site Change Log";
}

<div class="container-fluid">

    <partial name="\ChangeLog\_cl07172019-15" />
    <partial name="\ChangeLog\_cl07142019" />
    <partial name="\ChangeLog\_cl07082019" />
</div>

