@{
    ViewData["Title"] = "PRIVACY POLICY FOR THIS SITE";
}


<div class="container">
    <h2><strong>@ViewData["Title"]</strong></h2>
    
    <partial name="PageContent\_PrivacyPolicyPartial" />
</div>
