@{
    ViewBag.Title = "Projects";
}

<h2><strong>@ViewData["Projects Title"]</strong></h2>
<br />

<p>@ViewData["Projects Message"]</p><br />
<p>@ViewData["Projects Instructions"]</p><br />

<br />

<div class="container-fluid">
    <partial name="\_PartialContent\ProjectList\VisualStudioEdu" /><br />
    <partial name="\_PartialContent\ProjectList\ULTE" /><br />
</div>

