@{
    ViewBag.Title = "Sites";
}

<div class="row">
    <div class="col-md-4">
        <h2>Microsoft Azure DevOps</h2>
        <p>
            Formerly Visual Studio Team Services (VSTS), is a web based off premese service which
            allows you to create, build, store code, and automate your projects just as you would
            in Team Foundation Server (TFS) and GitHub. VSTS also allows you to use management
            processes such as Agile, Scrumm and CIM with all the feature to keep track of your
            projects and communicate with your team when applicable.
        </p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/azure/devops/?view=azure-devops">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>Most of my sites created in Visual Studio reside on the Microoft Azure platform used for hosting and creation of other services needed.</p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/azure/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>GitHub</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://www.github.com">Learn more &raquo;</a></p>
    </div>
</div>