@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h4><strong>Website Completion and Status</strong></h4>

<p>
    I'm happy to announce this web project is nearing it's completion. There have been a
    significant amount of updates for this month, with the target date being the end of
    September. <a asp-area="" asp-controller="Home" asp-action="ChangeLog">Click here to see this months changelog <<</a>
</p>
<br />

<h4><strong>Cookie and Privacy Policy</strong></h4>
<p>his site now has a new “Cookie and Privacy” policy. Also, if you have visited before and
    wondering where the old Cookie policy window went. Please be assured that it is located
    on the bottom of the site. Click on the icon to read or find more information about the
    policy.</p>
<br />

<h4><strong>Site Blog</strong></h4>
<p>This project will be ongoing, but happy to say that it’s nearing it’s first phase. The
    installation will be taking place on Friday September 20, 2019. This is the expected date
    on which I will be completing the views and templates for the blog, in addition to the
    login. Also, please note the login forums and pages have been removed until the blog
    deployment.</p>
<br />

<h4><strong>Blender Version 2.80</strong></h4>
<p>Is now finally here after months of waiting. To find out more or download go to
    http://www.blender.org</p>
<br />

