

<button type="button" class="btn-info" data-toggle="collapse"
        data-target="#cl07082019-cs01">
    Change Log: 07/08/2019 - Change Set: 01
</button>
<div id="cl07082019-cs01" class="collapse">
    <p>The following changes have been made to the site for 07/08/2019. Please see the
    GitHub Change Set # 01 for further details.</p>
    <br />

    <p>
        Added a "Change Log" button to the main navigation menu. This button will navigate
        you to the change log page, where all changes to the site are now listed.
    </p>
    <p>
        Corrected a link on the About page which takes you to the Wikipedia definition of
        Model View Controller method (MVC). There was a typo in the hyper link which prompted
        for an application to be opened if using the Microsoft Edge browser. Correcting the
        link resolved this issue.
    </p>
    <p>
        Style colors are currently removed from the site until further notice. Currently the
        site is using the Bootstrap Framework default colors.
    </p>
    <p>
        The padding was changed in one of the custom stylesheet scripts to make the text more
        even.
    </p>
    <p>
        The Arial default font face and size are now being applied to all website text unless
        override by other coding.
    </p>
    <p>
        The main navigation menu for the site has been re-coded to appear below the Brand
        navigation menu. This allows for the additional navigation menu commands when needed
        and the addition of other features on the brand navigation bar when needed.
    </p>
    <p>
        The top margin padding has been expanded to 130 pixels to accommodate for the main,
        and brand navigation codding changes.
    </p>


</div>
<br />




