/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */


body {
    padding-top: 110px;
    padding-bottom: 20px;
    background-color:transparent;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/*
    The following section is an addition to the orginial
    style sheet code. This code is not connected to the
    Bootstrap Framework but can be used in addition their
    css style.
*/


/*
    Set the font family to Arial using the default font
    pixels size for all header and paragraph tags.
*/
h1, h2, h3, h4, h5, h6, p {
    font-family: Arial
}
.nav-container {
    padding-right: 18px;
    padding-left: 18px;
    margin-right: 18px;
    margin-left: 18px;
}

.custom-body-content {
    padding-right: 15px;
    padding-left: 15px;
}

.custom-color-transparrent {
    background-color:rgba(237, 227, 227, 0.91);

}
