<h3>INTRODUCTION</h3>
<p>This policy was written specifically for this site to inform visitors and registered users of their rights under the site guidelines. This policy is established for the following very important reasons:</p>
<ul>
    <li>To inform visitors and users of their rights under laws or statues</li>
    <li>To protect the site, visitors, and registered users from anyone who would violate any of these policies or Terms of Services if they exists.</li>
    <li>To avoid any issues with any third-party providers, such as hosting, content, or agencies responsible for copyright or other content related intellectual property.</li>
</ul>
<p>Please note I reserve the right to change or modify the site Privacy Policy in conjunction with and in accordance with state, or federal laws.</p>
<br />

<h3>COOKIE POLICY</h3>
<p>For websites to function as expected. Websites uses cookies in conjunction with JavaScript or other scripting languages. These functions not only go hand and hand to assure that buttons, navigation menu features, site registration, login, and logoff features functions correctly. They also in some instances play a role in how site data is displayed to you.</p>
<p>You may want to note that some features, or settings may revert to the originally default settings after clearing the local browser cache information.</p>
<br />

<h3>PRIVACY POLICY</h3>
<p>This site will not use any of the above information for any other purposes other than the normally intended operations of this site and will not be willingly disclosed to any other party except in cases where a crime has been committed, or in emergency situations to facilitate treatment and aid as described below:</p>
<p></p>
<p>However, please note the following exceptions:</p>
<br />

<h3>WEBSITE HOSTING ADMINISTRATORS AND AUDITS</h3>
<p>Please be aware even though I own the website content, which includes the web pages, images, code and database. Hosting administrators also may have access to this data. For this reason, this site will not ask you for personal information.</p>
<p>However, to provide a logon for things such as newsletters and access to other site features, the forms on the registration pages will ask you for all the necessary basic information needed to preform normal operations. This includes:</p>
<ul>
    <li>First name</li>
    <li>Last name</li>
    <li>Username or UserID</li>
    <li>Email Address</li>
    <li>Home or Mobile Phone Number</li>
</ul>

<br />

<h3>CRIMINAL OFFENSES OR OTHER UNLAWFULL ACTIONS</h3>

<p>If a crime has been committed against this site or in conjunction of this site with another site. I am obligated to report these offenses.</p>
<br />
<p>Furthermore, if it is found that individual(s) have registered on the site for the purpose of committing unlawful acts, such as hacking, data mining, spamming or fraud “You have waived your right to privacy”.</p>
<br />
<p>Please note these requests can be directed to myself, the internet service provider, or the hosting service I use to host the website. In these respects, I comply with all state, federal, and local law and government agencies if any inquires have been made.</p>

