
<button type="button" class="btn-info" data-toggle="collapse"
        data-target="#cl07172019-cs15">
    Change Log: 07/17/2019 - Change Set: 15
</button>
<div id="cl07172019-cs15" class="collapse">
    <p>The following changes have been made to the site for 07/17/2019. Please see the GitHub Change </p>
    <ul>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<br />
