@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <nav id="cookieConsent" class="navbar navbar-light fixed-bottom float-sm-left" 
         style="background-color:transparent" role="alert">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cookieConsent .navbar-collapse">
                    <span class="sr-only">Toggle cookie consent banner</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <span class="navbar-brand"><span class="text-info" aria-hidden="false"></span></span>
                <div class="collapse navbar-collapse" style="background-color:rgba(49, 67, 179, 0.80); color:lightgoldenrodyellow">
                    <div class="container-fluid">
                        <h4><strong>COOKIE AND PRIVACY POLICY </strong></h4>
                        <p class="navbar-text" style="color:yellow">
                            This web site uses cookies and other technologgy for features and functions to
                            be viewed and operate normaly. You can acknowledge the site uses these features
                            by clicking the "Accept" button to the right of this message window. To view the
                            sites "Cookie and Privacy" policy page, click on the "Cookie and Privacy
                            Information" button.
                        </p>
                        <p class="navbar-text" style="color:whitesmoke">
                            NOTE: Clicking on the "Accpt" button only acknowledges you have read this
                            this message and is not a condition for access to this site.
                        </p>
                    </div>
                <div class="nav-container float-right">
                    <a asp-controller="Home" asp-action="Privacy" class="btn btn-info navbar-btn">Cookie and Privacy Information</a>                  
                    <button type="button" class="btn btn-light navbar-btn" data-cookie-string="@cookieString">Accept</button>
                </div>
            </div>
    </nav>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("hidden");
            }, false);
        })();
    </script>
}
