

    <button type="button" class="btn-info" data-toggle="collapse" 
            data-target="#Archive_08_2018_News">Archived News - 08/2018
    </button>

    <div class="collapse" id="Archive_08_2018_News">
        <p>
            As you can see the site is still under construction. Although, I have managed to make
            sure that all the links and features are working.
        </p>

        <p>However, there are still some things which are still on the to-do list.</p>
        <br />

        <p>
            - You may find a few empty pages on the site. The pages are blank for two reasons. This is
            because they are database driven. While I have published the database to make sure everything
            else is currently operating, I haven’t yet published the tables specifically for those pages.
            However, this should be completed by Saturday 6/29/2019
        </p>
        <br />

        <p>
            - The Facebook, and Microsoft account authencation is also still being worked on. Unfortunately,
            as I always encounter, the documentation on the Microsoft Docs site which gives instructions to
            this are outdated. Therefore, I must alter my steps in accordance to the change in the .NET
            Framework since the Visual Studio 2013 Express Version which is what these instructions were
            written for. Hopefully I will have this completed by the evening of 6/28/2019.
        </p>
        <br />
    </div>