
<button type="button" class="btn-info" data-toggle="collapse" data-target="#ulte">Universal Language Translation Engine...</button>
<div id="ulte" class="collapse">
    <br />
    <address>
        <strong>
            Project Name: Universal Language Translation Engine (ULTE)
            Project Author: Ause L. Sims<br />
            Project Scope:  Language Translation Engine<br />
            Start Date: <br />
            Completion Date: <br />
            Repository Website(s): <a href="" target="_blank">
            <img src="~/images/branding/microsoft-logo/iconfinder_Microsoft_381388_24x24.png" title="Microsoft Azure DevOps" /></a>
            
            <a href="https://github.com/ausesims/ULTE" target="_blank">
            <img src="~/images/branding/github/iconfinder_logo-github_298818_64x22.png" title="GitHub"/></a><br />
        </strong>
    </address>
    <br />
    <strong>Project Summary</strong>
    <p>
        The Universal Language Translation Engine (ULTE) is an application written In the
        C#, and C++ programming language. The application is built on a library of functions,
        which translates languages based on grammar rules, word usage to provide the correct
        syntax of the translation. This project has many applications including the development
        of learning software which includes languages such as the Japanese language.
    </p>
</div>
<br />