@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <button type="button" class="btn-info" data-toggle="collapse"
            data-target="#cl09172019-cs16">
        Change Log: 09/17/2019 - Change Set: 16
    </button>

    <div class="collapse" id="cl09172019-cs16">
        <br />

        <p>
            The following changes have been made to the site for 09/17/2019. Please see the Commit
            details on GitHub for more information.
        </p>
        <br />

        <p>
            Bootstrap Framework: The previous version 3.1.4 has been replaced with the new version 4.1.3.
            You may notice changes in the ways of the site appearance, features, and menus. Since this version
            of Bootstrap is not like the version which originally came with this template resulted in the
            following code changes…
        </p><br />

        <ul>
            <li>All div, and nav tag lines needed to be replaced because of decapitated class commands.</li>
            <li>Navigation menus and windows needed to be re-engineered because of the new class commands. This resulted in the removal of old div tag class commands.</li>
            <li>There are now two navigation menus. The main menu for the brand, search features, logon, and logon status which is the primary menu, and the secondary menu for page navigation.</li>
            <li></li>The primary navigation menu is fixed. The secondary navigation menu is not fixed.
            <li>Most of this site is MVC using Razor code. As a result, some html commands were removed and replaced with the appropriate razor code for .NET using “asp-area”, “asp-controller”, and “asp-action” for page and hyperlink references.</li>
            <li>The message windows have been kept transparent, but the colors were change for ease of reading against other page background colors.</li>
            <li>The site login has been temporarily removed to facilitate the inclusion of the blog portion of the site. The scheduled date of the blog installation is on Friday September 20, 2019.</li>
            <li>Some custom CSS commands were removed because they are no longer needed.</li>
        </ul>
        <br />


        <p>
            Cookie & Privacy Policy: The navigation feature is now collapsed at the bottom of each page and not open by default. This was done as a request to un-obstruct the page views. The menu can be opened by clicking on the icon. Please note that accepting the Policy will clear the nav-window complete and that clearing your browser cache or temporary internet files will bring it back.
        </p><br />

        <p>Projects Page: Spacing was added between the project listing buttons for ease of those who are on mobile devices.</p>
        <br />

        <p><strong>Non-Site Related Changes</strong></p>
        <br />

        <p>Project ULTE for the Universal Language Translation Engine status has changed from “Private” which as keeping visitors from visitors from viewing it resulting in a 404-error message page, to “Public” on GitHub. The corresponding “Project Listing” page on this site should now navigate to the project without issues.</p>
        <br />
    </div>
<br />