
<button type="button" class="btn-info" data-toggle="collapse"
        data-target="#cl07142019-cs05">
    Change Log: 07/14/2019 - Change Set: 05
</button>
<div id="cl07142019-cs05" class="collapse">
    <br />
    <p>The following changes have been made to the site for 07/17/2019. Please see the GitHub Change </p>
    <br />

        <p>The site and content of the site was converted from ASP.NET 4.8 to
            ASP.NET Core 2.1 as of 07/14/2019 13:03 EST. This was executed in order
            to take advantage of usefull features, which are not found in ASP.NET.
            The transfer of content was completed without any issues. However, the
            role based controller which was installed previously is still being
            tested at the local level and will not be integerated into the site
            until 07/15/2019.</p>
        <p>Additional content was added to the About page.</p>
        <p>GitHub has been added as an additional source control for the
            project, which is now pubpc.</p>
        <p>Additional commands were added to the custom .css file for
            additional style options.</p>
        <p>The Projects page layout was modified to show the correct formating.</p>
        <p>The website collaspe menu now shows the correct options on moble devices,
            and responds in the correct way when resizing the web browser.</p>
</div>
<br />

