
<h3>Visual Studio Education</h3>
<div class="jumbotron">
    <Address>
        <strong>
            Project Author: Ause L. Sims<br />
            Project Scope:  Community Learning and Organazation<br />
            Start Date: 6/9/2015><br />
            Completion Date: N/A<br />
            Website: <a href="http://www.facebook.com/visualstudioeducation"></a><br />
        </strong>
    </Address>
    <br />
    <strong>Project Summary</strong>
        <p>
            Visual Studio Education is a project with focus on aiding anyone interested in
            developing applications using the Microsoft Visual Studio development environment,
            or related Microsoft products.
        </p>
    <ul>
        <li>Microsoft Visual Studio (Integrated Development Environment)</li>
        <li>Microsoft Visual Studio Code (Source Code Editor)</li>
        <li>Microsoft Team Foundation Services (Version Control Server)</li>
        <li>Microsoft Azure DevOps (Public Online Version Control)</li>
        <li>Microsoft ASP.NET Framework</li>
        <li>Microsoft ASP.NET Core Framework</li>
        <li>Microsoft .NET supported programming languages.</li>
    </ul>
</div>
<br />

<h3>Universal Language Translation Engine</h3>
<div class="jumbotron">
    <address>
        <strong>
            Project Author: Ause L. Sims<br />
            Project Scope:  Language Translation Engine<br />
            Start Date: <br />
            Completion Date: <br />
            Website: <a href=""></a><br />
        </strong>
    </address>
    <br />
    <strong>Project Summary</strong>
    <p>The Universal Language Translation Engine (ULTE) is an application written In the
    C#, and C++ programming language. The application is built on a library of functions,
    which translates languages based on grammar rules, word usage to provide the correct
    syntax of the translation. This project has many applications including the development
    of learning software which includes languages such as the Japanese language.</p>
</div>
<br />

<h3></h3>
<div class="jumbotron">
    <address>
        Project Author: Ause L. Sims<br />
        Project Scope:  <br />
        Start Date: <br />
        Completion Date: <br />
        Website: <a href=""></a><br />
    </address>
    <br />
    <strong>Project Summary</strong>
    <p></p>
</div>

<h3></h3>
<div class="jumbotron">
    <address>
        Project Author: Ause L. Sims<br />
        Project Scope:  <br />
        Start Date: <br />
        Completion Date: <br />
        Website: <a href=""></a><br />
    </address>
    <br />
    <strong>Project Summary</strong>
    <p></p>
</div>