

<button type="button" class="btn-info" data-toggle="collapse" data-target="#vse">Visual Studio Education...</button>
<div id="vse" class="collapse">
    <Address>
        <strong>
            Project Name: Visual Studio Education<br />
            Project Author: Ause L. Sims<br />
            Project Scope:  Developer Mentorship<br />
            Community Followers: 4,450
            Start Date: 6/9/2015><br />
            Completion Date: N/A<br />
            Website(s): <a href="http://www.facebook.com/visualstudioeducation" target="_blank">Facebook, </a>
            <a href="https://dev.azure.com/visualstudioeducation/Learning" target="_blank">Azure Devops, </a>
            <a href="https://github.com/vseducation" target="_blank">GitHub</a><br />
        </strong>
    </Address>
    <br />
    <strong>Project Summary</strong>
    <p>
        Visual Studio Education is a project with focus on aiding and mentoring anyone interested in
        developing applications using the Microsoft Visual Studio development environment,
        or it's related Microsoft products.
    </p>
    <br />
    <p>Under this community we cover:</p>
    <ul>
        <li>Microsoft Visual Studio (Integrated Development Environment)</li>
        <li>Microsoft Visual Studio Code (Source Code Editor)</li>
        <li>Microsoft Team Foundation Services (Version Control Server)</li>
        <li>Microsoft Azure DevOps (Public Online Version Control)</li>
        <li>Microsoft ASP.NET Framework</li>
        <li>Microsoft ASP.NET Core Framework</li>
        <li>Microsoft .NET supported programming languages.</li>
    </ul>
</div>

<br />

<button type="button" class="btn-info" data-toggle="collapse" data-target="#ulte">Universal Language Translation Engine...</button>
<div id="ulte" class="collapse">
    <address>
        <strong>
            Project Name: Universal Language Translation Engine (ULTE)
            Project Author: Ause L. Sims<br />
            Project Scope:  Language Translation Engine<br />
            Start Date: <br />
            Completion Date: <br />
            Website(s): <a href="" target="_blank">Azure Devops, </a>
            <a href="https://github.com/ausesims/ULTE" target="_blank">GitHub</a><br />
        </strong>
    </address>
    <br />
    <strong>Project Summary</strong>
    <p>
        The Universal Language Translation Engine (ULTE) is an application written In the
        C#, and C++ programming language. The application is built on a library of functions,
        which translates languages based on grammar rules, word usage to provide the correct
        syntax of the translation. This project has many applications including the development
        of learning software which includes languages such as the Japanese language.
    </p>
</div>

<br />

@*
    <h3></h3>
    <div class="jumbotron">
        <address>
            Project Author: Ause L. Sims<br />
            Project Scope:  <br />
            Start Date: <br />
            Completion Date: <br />
            Website: <a href=""></a><br />
        </address>
        <br />
        <strong>Project Summary</strong>
        <p></p>
    </div>

    <h3></h3>
    <div class="jumbotron">
        <address>
            Project Author: Ause L. Sims<br />
            Project Scope:  <br />
            Start Date: <br />
            Completion Date: <br />
            Website: <a href=""></a><br />
        </address>
        <br />
        <strong>Project Summary</strong>
        <p></p>
    </div>

*@