
<div class="container">
<p>
    "We live in a world of changing times. You must be flexible with
    learning new technology to take on the challenges ahead in forge
    a path to the future."
</p>
</div>