
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<br />

<address>
    <strong>RESIDENT OF :    </strong>
    <a href="https://en.wikipedia.org/wiki/Middletown,_Dauphin_County,_Pennsylvania"
       target="_blank" title="Wikipedia: Middletown Pennsylvania, Dauphin County"><strong>Middletown Pennsylvania</strong></a><br />
</address>
<br />

<address>
    <strong>SOCIAL MEDIA    : </strong>
    @* Facebook *@<a href="https://www.facebook.com/ProfessorAuseSims/" target="_blank">
    <img src="~/images/social-media/Facebook/iconfinder_Social-media_Facebook_4362964_20x20.png" title="Facebook Page" /></a>

    @* Facebook Messanger *@<a href="https://m.me/ProfessorAuseSims" target="_blank">
    <img src="~/images/social-media/FB-Messenger/iconfinder_Social-media_FB-Messenger_4362963_20x20.png" title="Facebook Messenger" /></a>

    @* Linkedin *@<a href="https://www.linkedin.com/in/ausesims/" target="_blank">
    <img src="~/images/social-media/LinkedIn/iconfinder_Social-media_LinkedIn_4362961_20x20.png" title="LinkedIn Profile" /></a>
    
    @* Twitter*@<a href="https://www.twitter.com/ausesims" target="_blank">
    <img src="~/images/social-media/Twitter/iconfinder_Social-media_Twitter_4362955_20x20.png" title="Twitter Profile" /></a>

    @* Skype *@<a href="" target="_blank"><img src="" /></a>
</address>
<br />

<h5><strong>SCHEDULE</strong></h5>
<p>Listed below is the social media schedule in which I can be contacted. 
    These hours were chosen so they do not interfear with my work, social, 
    or privte life. Responses will either be imidiatate or delayed depending 
    on the Social Media medium chosen.</p>
<br />
<address>
    <strong>Mon - Fri   : 8AM to 12PM EST</strong><br />
    <strong>Sat         : 8AM to 8PM EST</strong><br />
    <strong>Sun         : 12PM to 6PM EST</strong><br />
</address>

<p style="text-emphasis-color:red">All times listed are United States Eastern Standard Time Zone (EST). Messages sent after the 
    specified times will be answered the next day during normal hours.</p>
<p style="text-emphasis-color:gold">Response times during RT chat, instant, or text messaging will vary.</p>
<br />
